@charset "UTF-8";
@import url(main.css);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 48, ../../ui/sass/screen.sass */
.menu-link, .top-menu a, footer a, .panel .menu ul li .tab {
  color: inherit;
  text-decoration: none;
}
/* line 51, ../../ui/sass/screen.sass */
.menu-link:hover, .top-menu a:hover, footer a:hover, .panel .menu ul li .tab:hover {
  text-decoration: underline;
}

/* line 56, ../../ui/sass/screen.sass */
body * {
  font-family: "PT Sans", sans-serif;
}

/* line 59, ../../ui/sass/screen.sass */
body {
  position: relative;
  overflow: auto;
  font-size: 0.8em;
}

/* line 64, ../../ui/sass/screen.sass */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

/* line 69, ../../ui/sass/screen.sass */
.dot-divide {
  background: url(/img/dots.png) top center no-repeat;
  height: 3px;
  width: 100%;
  margin: 2em 0 !important;
  clear: both;
}
/* line 76, ../../ui/sass/screen.sass */
.dot-divide.white {
  background-image: url(/img/dots-w.png);
}

/* line 79, ../../ui/sass/screen.sass */
.inputwrap {
  position: relative;
  margin-bottom: 1em;
  padding: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
  text-align: right;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 87, ../../ui/sass/screen.sass */
.inputwrap.wrong {
  background-color: rgba(220, 20, 60, 0.2);
}
/* line 90, ../../ui/sass/screen.sass */
.inputwrap.right {
  background-color: rgba(203, 228, 171, 0.3);
}
/* line 93, ../../ui/sass/screen.sass */
.inputwrap * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.5em;
}
/* line 97, ../../ui/sass/screen.sass */
.inputwrap .tip {
  margin-right: 10px;
  display: none;
  color: white;
  position: absolute;
  right: 100%;
  width: 60%;
  text-align: center;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
}
/* line 110, ../../ui/sass/screen.sass */
.inputwrap .tip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  margin-top: -8px;
  border: 8px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.6);
}
/* line 121, ../../ui/sass/screen.sass */
.inputwrap input {
  width: 100%;
  border: 1px solid #d4d4d4;
  padding: 3px 5px;
}
/* line 126, ../../ui/sass/screen.sass */
.inputwrap input.contact {
  width: 85%;
}
/* line 129, ../../ui/sass/screen.sass */
.inputwrap .submit {
  border-top: 1px solid white;
  border-left: 1px solid #fafafa;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px solid #fafafa;
  color: transparent;
  width: 15%;
  height: 100%;
  padding: 3px;
  -webkit-box-shadow: #aeaeae 0 0.2em 0 0;
  -moz-box-shadow: #aeaeae 0 0.2em 0 0;
  box-shadow: #aeaeae 0 0.2em 0 0;
  position: relative;
  top: -0.2em;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url(/img/enter-mid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
  background-image: url(/img/enter-mid.png), -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/enter-mid.png), -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/enter-mid.png), -o-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/enter-mid.png), linear-gradient(#fafafa, #eeeeee);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
/* line 145, ../../ui/sass/screen.sass */
.inputwrap .submit.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  top: 0;
}
/* line 148, ../../ui/sass/screen.sass */
.inputwrap .submit.waiting, .inputwrap .submit.waiting:hover {
  opacity: 0.7;
  background-image: url(/img/load.gif), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
  background-image: url(/img/load.gif), -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/load.gif), -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/load.gif), -o-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/load.gif), linear-gradient(#fafafa, #eeeeee);
}
/* line 152, ../../ui/sass/screen.sass */
.inputwrap .submit.ok, .inputwrap .submit.ok:hover {
  background-image: url(/img/ok.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
  background-image: url(/img/ok.png), -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/ok.png), -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/ok.png), -o-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/ok.png), linear-gradient(#fafafa, #eeeeee);
}
/* line 155, ../../ui/sass/screen.sass */
.inputwrap .submit:hover {
  background-image: url(/img/enter-mid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f0f0f0));
  background-image: url(/img/enter-mid.png), -webkit-linear-gradient(#fdfdfd, #f0f0f0);
  background-image: url(/img/enter-mid.png), -moz-linear-gradient(#fdfdfd, #f0f0f0);
  background-image: url(/img/enter-mid.png), -o-linear-gradient(#fdfdfd, #f0f0f0);
  background-image: url(/img/enter-mid.png), linear-gradient(#fdfdfd, #f0f0f0);
}

/* line 158, ../../ui/sass/screen.sass */
.top-menu {
  display: none;
  position: fixed;
  width: 100%;
  padding-left: 3em;
  z-index: 30;
  top: 0;
  left: 0;
  color: white;
  background-repeat: repeat-y;
  background-image: url(/img/minlogo-mid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: url(/img/minlogo-mid.png), -webkit-linear-gradient(#262626, #000000);
  background-image: url(/img/minlogo-mid.png), -moz-linear-gradient(#262626, #000000);
  background-image: url(/img/minlogo-mid.png), -o-linear-gradient(#262626, #000000);
  background-image: url(/img/minlogo-mid.png), linear-gradient(#262626, #000000);
}
/* line 170, ../../ui/sass/screen.sass */
.top-menu ul, .top-menu li {
  float: left;
}
/* line 173, ../../ui/sass/screen.sass */
.top-menu a {
  padding: 1em;
  text-transform: lowercase;
  font-weight: bold;
}
/* line 179, ../../ui/sass/screen.sass */
.top-menu .loginform {
  position: relative;
  float: right;
  border-left: 1px solid #404040;
  width: 10em;
  height: 3.3em;
  padding-left: 1em;
  overflow: hidden;
  -webkit-transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
/* line 189, ../../ui/sass/screen.sass */
.top-menu .loginform * {
  -webkit-transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
/* line 192, ../../ui/sass/screen.sass */
.top-menu .loginform.opened {
  width: 27em;
}
/* line 195, ../../ui/sass/screen.sass */
.top-menu .loginform.opened form .back::after {
  content: "▴";
}
/* line 198, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger {
  position: absolute;
}
/* line 38, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger::after {
  position: absolute;
  top: 1.4em;
  right: -0.4em;
  content: "▾";
  font-size: 0.8em;
}
/* line 44, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger.opened::after {
  content: "▴";
}
/* line 201, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger.opened {
  top: 100%;
}
/* line 204, ../../ui/sass/screen.sass */
.top-menu .loginform .hello {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 1em;
}
/* line 207, ../../ui/sass/screen.sass */
.top-menu .loginform .control {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 210, ../../ui/sass/screen.sass */
.top-menu .loginform .control.logout {
  background: url("/img/quit-mid.png") center center no-repeat;
  width: 16px;
  height: 17px;
}
@media only screen and (min-width: 1400px) {
  /* line 210, ../../ui/sass/screen.sass */
  .top-menu .loginform .control.logout {
    background: url("/img/quit.png") center center no-repeat;
    width: 19px;
    height: 21px;
  }
}
/* line 212, ../../ui/sass/screen.sass */
.top-menu .loginform .control.settings {
  margin-left: 5em;
  background: url("/img/settings-mid.png") center center no-repeat;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 1400px) {
  /* line 212, ../../ui/sass/screen.sass */
  .top-menu .loginform .control.settings {
    background: url("/img/settings.png") center center no-repeat;
    width: 19px;
    height: 19px;
  }
}
/* line 216, ../../ui/sass/screen.sass */
.top-menu .loginform form {
  position: absolute;
  top: -80%;
  right: 0;
  width: 29em;
}
/* line 222, ../../ui/sass/screen.sass */
.top-menu .loginform form .back {
  position: relative;
  margin: 0.5em 2em;
  border-bottom: 1px dotted white;
  cursor: pointer;
}
/* line 227, ../../ui/sass/screen.sass */
.top-menu .loginform form .back::after {
  font-size: 0.8em;
  position: absolute;
  top: 0.3em;
  right: -1em;
  content: "▾";
}
/* line 234, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap {
  background: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.7) 0 0 4px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.7) 0 0 4px 0;
  box-shadow: inset rgba(0, 0, 0, 0.7) 0 0 4px 0;
  overflow: hidden;
}
/* line 240, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap.login {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 242, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap.pw {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 245, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap input {
  border: none;
  margin: 0.3em;
  width: 7em;
}
/* line 250, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit {
  position: relative;
  color: transparent;
  border: none;
  padding: 0.3em 0.5em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #d4d4d4;
}
/* line 257, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit.hl, .top-menu .loginform form .submit.ok {
  background-color: #eeeeee;
}
/* line 259, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit::before {
  color: black;
  position: absolute;
  content: "↩";
  top: 0.3em;
  right: 0.5em;
}
/* line 265, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit.wait::before {
  content: "⟲";
}
/* line 269, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit.ok::before {
  content: "✔";
}
/* line 272, ../../ui/sass/screen.sass */
.top-menu .loginform form.opened {
  top: 20%;
  display: block;
}

/* line 278, ../../ui/sass/screen.sass */
header {
  position: relative;
  overflow: hidden;
}
/* line 282, ../../ui/sass/screen.sass */
header .blur {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: opacity 3s ease;
}
/* line 290, ../../ui/sass/screen.sass */
header .blur.active {
  opacity: 1;
}
/* line 293, ../../ui/sass/screen.sass */
header .blur.b1 {
  background: url(/img/blur1-mid.png) top center no-repeat;
}
/* line 293, ../../ui/sass/screen.sass */
header .blur.b2 {
  background: url(/img/blur2-mid.png) top center no-repeat;
}
/* line 293, ../../ui/sass/screen.sass */
header .blur.b3 {
  background: url(/img/blur3-mid.png) top center no-repeat;
}
/* line 293, ../../ui/sass/screen.sass */
header .blur.b4 {
  background: url(/img/blur4-mid.png) top center no-repeat;
}
/* line 296, ../../ui/sass/screen.sass */
header .logo {
  background: url(/img/energotrend-mid.png) top center no-repeat;
  width: 34.5em;
  padding: 15em 0 4em 0;
  float: left;
}
/* line 302, ../../ui/sass/screen.sass */
header .logo .slogan {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}
/* line 307, ../../ui/sass/screen.sass */
header .appform {
  width: 25em;
  padding: 2.5em;
  position: absolute;
  margin-top: 4em;
  top: 0;
  right: 0;
}
/* line 315, ../../ui/sass/screen.sass */
header .appform h1 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
}
/* line 320, ../../ui/sass/screen.sass */
header .thankyou {
  display: none;
  position: absolute;
  top: -100%;
  right: 0;
  width: 25em;
  padding: 2.5em;
  margin-top: 4em;
  text-align: center;
}
/* line 330, ../../ui/sass/screen.sass */
header .thankyou h1 {
  margin: 0;
}
/* line 333, ../../ui/sass/screen.sass */
header .thankyou p {
  font-size: 1.2em;
}

/* line 337, ../../ui/sass/screen.sass */
.sectionhead {
  position: relative;
  font-weight: normal;
  font-size: 3.77em;
  text-align: center;
  padding-top: 0.3em;
}
/* line 343, ../../ui/sass/screen.sass */
.sectionhead span {
  border-bottom: 1px solid black;
}

/* line 347, ../../ui/sass/screen.sass */
.whatwedo {
  background: white url(/img/grid.png);
  padding-bottom: 1em;
}
/* line 351, ../../ui/sass/screen.sass */
.whatwedo .pad {
  position: absolute;
  height: 3.5em;
  width: 100%;
  background: white;
  -webkit-box-shadow: white 0 10px 10px 0;
  -moz-box-shadow: white 0 10px 10px 0;
  box-shadow: white 0 10px 10px 0;
}
/* line 358, ../../ui/sass/screen.sass */
.whatwedo .chart {
  background: url("/img/chart-mid.png") center center no-repeat;
  width: 220px;
  height: 197px;
  float: left;
}
@media only screen and (min-width: 1400px) {
  /* line 358, ../../ui/sass/screen.sass */
  .whatwedo .chart {
    background: url("/img/chart.png") center center no-repeat;
    width: 240px;
    height: 215px;
  }
}
/* line 361, ../../ui/sass/screen.sass */
.whatwedo .free-lamp {
  float: left;
  background: url("/img/free-lamp-mid.png") center center no-repeat;
  width: 350px;
  height: 159px;
}
@media only screen and (min-width: 1400px) {
  /* line 361, ../../ui/sass/screen.sass */
  .whatwedo .free-lamp {
    background: url("/img/free-lamp.png") center center no-repeat;
    width: 400px;
    height: 182px;
  }
}
/* line 366, ../../ui/sass/screen.sass */
.whatwedo section {
  position: relative;
  width: 80%;
  margin: 0 auto 2em auto;
}
/* line 371, ../../ui/sass/screen.sass */
.whatwedo p {
  font-size: 1.6em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 376, ../../ui/sass/screen.sass */
.whatwedo p.first {
  float: left;
  margin-top: 3em;
  width: 70%;
}
/* line 380, ../../ui/sass/screen.sass */
.whatwedo p.second {
  width: 49%;
  float: right;
  margin-top: 3em;
}

/* line 385, ../../ui/sass/screen.sass */
.howitworks {
  position: relative;
  padding-top: 1px;
  background-color: #cfecfa;
  background-image: url(/img/grid2.png), url(/img/scheme.png);
  overflow: hidden;
  height: 40em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
}
/* line 394, ../../ui/sass/screen.sass */
.howitworks big {
  font-size: 1.5em;
}
/* line 397, ../../ui/sass/screen.sass */
.howitworks .container {
  height: 100%;
}
/* line 400, ../../ui/sass/screen.sass */
.howitworks .reveal {
  position: relative;
}
/* line 403, ../../ui/sass/screen.sass */
.howitworks .reveal * {
  line-height: 1.2;
}
/* line 405, ../../ui/sass/screen.sass */
.howitworks .reveal .controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 412, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div {
  z-index: 20;
  border: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 423, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.enabled {
  display: block;
}
/* line 426, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 429, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-right {
  background-image: url(/img/rarr.png);
  right: 3em !important;
  top: 50%;
  margin-top: -35px;
}
/* line 434, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-left {
  background-image: url(/img/larr.png);
  left: 3em;
  top: 50%;
  margin-top: -35px;
}
/* line 439, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-up {
  background-image: url(/img/uarr.png);
  top: 3em;
  left: 50%;
  margin-left: -35px;
}
/* line 444, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-down {
  background-image: url(/img/darr.png);
  bottom: 3em;
  left: 50%;
  margin-left: -35px;
}
/* line 450, ../../ui/sass/screen.sass */
.howitworks .reveal section {
  padding: 2em 0;
}
/* line 453, ../../ui/sass/screen.sass */
.howitworks .reveal h1 {
  margin-bottom: 2em;
}
/* line 456, ../../ui/sass/screen.sass */
.howitworks .reveal p {
  font-size: 1.6em;
}
/* line 458, ../../ui/sass/screen.sass */
.howitworks .reveal p.big {
  font-size: 2em;
}
/* line 461, ../../ui/sass/screen.sass */
.howitworks .reveal p.notice {
  font-size: 1em;
  font-style: italic;
  margin-top: 2em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 467, ../../ui/sass/screen.sass */
.howitworks .reveal p.notice:hover {
  color: black;
  text-decoration: underline;
}

/* line 471, ../../ui/sass/screen.sass */
.whywe {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fad6b3), color-stop(50%, #fdf0e2), color-stop(100%, #fad6b3));
  background-image: -webkit-linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  background-image: -moz-linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  background-image: -o-linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  background-image: linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  padding-top: 1px;
  padding-bottom: 2em;
}
/* line 477, ../../ui/sass/screen.sass */
.whywe p.big {
  text-align: center;
  font-size: 1.6em;
}

/* line 481, ../../ui/sass/screen.sass */
.feedback {
  padding: 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 3px;
}
/* line 485, ../../ui/sass/screen.sass */
.feedback .sectionhead {
  margin-bottom: -0.3em;
}
/* line 489, ../../ui/sass/screen.sass */
.feedback p.big {
  text-align: center;
  font-size: 1.4em;
}

/* line 493, ../../ui/sass/screen.sass */
.conclusion {
  padding: 7em 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 3px;
  background: #f82b54 url(/img/scyscrapers-mid.png) center center no-repeat;
}
/* line 499, ../../ui/sass/screen.sass */
.conclusion .left, .conclusion .right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
/* line 505, ../../ui/sass/screen.sass */
.conclusion .left {
  float: left;
  padding-top: 1em;
  margin-top: -1em;
  border-right: 1px solid #eeeeee;
  text-align: center;
}
/* line 513, ../../ui/sass/screen.sass */
.conclusion .left .inner-first {
  height: 10em;
  width: 35em;
}
/* line 516, ../../ui/sass/screen.sass */
.conclusion .left .inner-second {
  height: 10em;
  width: 70em;
  display: none;
}
/* line 521, ../../ui/sass/screen.sass */
.conclusion .left h1 {
  font-size: 1.8em;
  color: white;
  margin-top: 0;
}
/* line 526, ../../ui/sass/screen.sass */
.conclusion .right {
  padding-right: 8.5em;
  position: absolute;
  right: 0;
}
/* line 531, ../../ui/sass/screen.sass */
.conclusion .appform-bot {
  float: right;
  margin-top: 1em;
  width: 25em;
}
/* line 536, ../../ui/sass/screen.sass */
.conclusion .appform-bot .inputwrap {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 4px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 4px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 4px 0 inset;
  border: 1px solid #ad102f;
}
/* line 541, ../../ui/sass/screen.sass */
.conclusion .appform-bot .inputwrap.wrong {
  background-color: rgba(220, 20, 60, 0.1);
}

/* line 547, ../../ui/sass/screen.sass */
footer {
  color: white;
  background: #3b3b3b;
}
/* line 552, ../../ui/sass/screen.sass */
footer .container {
  background: url(/img/vertstripe.png) 0px -96px repeat-y;
  padding-left: 2.5em;
}
/* line 559, ../../ui/sass/screen.sass */
footer ul {
  list-style-type: none;
}
/* line 561, ../../ui/sass/screen.sass */
footer ul li {
  padding-bottom: 5px;
}
/* line 564, ../../ui/sass/screen.sass */
footer .column {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20%;
  padding: 1em;
}

/* line 570, ../../ui/sass/screen.sass */
.panel-overlay {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 579, ../../ui/sass/screen.sass */
.panel-overlay.active {
  z-index: 20;
  opacity: 1;
}

/* line 583, ../../ui/sass/screen.sass */
.panel {
  position: absolute;
  top: 10em;
  left: 50%;
  font-size: 1.2em;
  margin-left: -30em;
  width: 60em;
  background: #efefef;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px 0;
}
/* line 592, ../../ui/sass/screen.sass */
.panel .close {
  cursor: pointer;
  float: right;
  padding: 0.7em;
}
/* line 596, ../../ui/sass/screen.sass */
.panel .menu {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#262626, #000000);
  background-image: -moz-linear-gradient(#262626, #000000);
  background-image: -o-linear-gradient(#262626, #000000);
  background-image: linear-gradient(#262626, #000000);
}
/* line 599, ../../ui/sass/screen.sass */
.panel .menu ul {
  margin: 0;
  float: left;
}
/* line 602, ../../ui/sass/screen.sass */
.panel .menu ul li {
  list-style: none;
  float: left;
  padding: 0.5em 0.4em 0;
}
/* line 606, ../../ui/sass/screen.sass */
.panel .menu ul li .tab {
  padding: 0.7em;
  display: block;
}
/* line 610, ../../ui/sass/screen.sass */
.panel .menu ul li .tab.active {
  -webkit-box-shadow: #d4d4d4 1px -1px 0 0, #d4d4d4 2px -2px 0 0, #d4d4d4 3px -3px 0 0;
  -moz-box-shadow: #d4d4d4 1px -1px 0 0, #d4d4d4 2px -2px 0 0, #d4d4d4 3px -3px 0 0;
  box-shadow: #d4d4d4 1px -1px 0 0, #d4d4d4 2px -2px 0 0, #d4d4d4 3px -3px 0 0;
  background: #efefef;
  color: black;
}
/* line 615, ../../ui/sass/screen.sass */
.panel .content {
  padding: 2em;
  -webkit-box-shadow: #d4d4d4 0 -4px 0 0;
  -moz-box-shadow: #d4d4d4 0 -4px 0 0;
  box-shadow: #d4d4d4 0 -4px 0 0;
}
/* line 618, ../../ui/sass/screen.sass */
.panel .content section {
  display: none;
}
/* line 620, ../../ui/sass/screen.sass */
.panel .content section.active {
  display: block;
}
/* line 623, ../../ui/sass/screen.sass */
.panel .panelform {
  width: 50%;
  float: left;
}

/* line 627, ../../ui/sass/screen.sass */
.ui-input {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  border: none;
  font-size: 1.2em;
  padding: 0.2em;
  margin: 0.8em 0.3em;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  outline: 1px solid #d4d4d4;
  outline-offset: 0.1em;
}

@media only screen and (min-width: 1400px) {
  /* line 640, ../../ui/sass/screen.sass */
  body {
    font-size: 1em;
  }

  /* line 644, ../../ui/sass/screen.sass */
  header .logo {
    background-image: url(/img/energotrend.png);
  }
  /* line 649, ../../ui/sass/screen.sass */
  header .blur.b1 {
    background: url(/img/blur1.png) top center no-repeat;
  }
  /* line 649, ../../ui/sass/screen.sass */
  header .blur.b2 {
    background: url(/img/blur2.png) top center no-repeat;
  }
  /* line 649, ../../ui/sass/screen.sass */
  header .blur.b3 {
    background: url(/img/blur3.png) top center no-repeat;
  }
  /* line 649, ../../ui/sass/screen.sass */
  header .blur.b4 {
    background: url(/img/blur4.png) top center no-repeat;
  }

  /* line 652, ../../ui/sass/screen.sass */
  .top-menu {
    background-image: url(/img/minlogo.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
    background-image: url(/img/minlogo.png), -webkit-linear-gradient(#262626, #000000);
    background-image: url(/img/minlogo.png), -moz-linear-gradient(#262626, #000000);
    background-image: url(/img/minlogo.png), -o-linear-gradient(#262626, #000000);
    background-image: url(/img/minlogo.png), linear-gradient(#262626, #000000);
  }

  /* line 655, ../../ui/sass/screen.sass */
  .inputwrap {
    padding: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0 inset;
  }
  /* line 660, ../../ui/sass/screen.sass */
  .inputwrap .submit {
    background-image: url(/img/enter.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
    background-image: url(/img/enter.png), -webkit-linear-gradient(#fafafa, #eeeeee);
    background-image: url(/img/enter.png), -moz-linear-gradient(#fafafa, #eeeeee);
    background-image: url(/img/enter.png), -o-linear-gradient(#fafafa, #eeeeee);
    background-image: url(/img/enter.png), linear-gradient(#fafafa, #eeeeee);
  }
  /* line 662, ../../ui/sass/screen.sass */
  .inputwrap .submit:hover {
    background-image: url(/img/enter.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f0f0f0));
    background-image: url(/img/enter.png), -webkit-linear-gradient(#fdfdfd, #f0f0f0);
    background-image: url(/img/enter.png), -moz-linear-gradient(#fdfdfd, #f0f0f0);
    background-image: url(/img/enter.png), -o-linear-gradient(#fdfdfd, #f0f0f0);
    background-image: url(/img/enter.png), linear-gradient(#fdfdfd, #f0f0f0);
  }

  /* line 665, ../../ui/sass/screen.sass */
  .conclusion {
    background-image: url(/img/scyscrapers.png);
  }

  /* line 668, ../../ui/sass/screen.sass */
  .container {
    width: 1200px;
  }
}
