@charset "UTF-8";
@import url(main.css);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 53, ../../ui/sass/screen.sass */
.menu-link, .top-menu a, footer a, .panel .menu ul li .tab {
  color: inherit;
  text-decoration: none;
}
/* line 56, ../../ui/sass/screen.sass */
.menu-link:hover, .top-menu a:hover, footer a:hover, .panel .menu ul li .tab:hover {
  text-decoration: underline;
}

/* line 60, ../../ui/sass/screen.sass */
.clearfix:before, .howitworks .index:before, .howitworks .timeline:before, .clearfix:after, .howitworks .index:after, .howitworks .timeline:after {
  content: " ";
  display: table;
}
/* line 63, ../../ui/sass/screen.sass */
.clearfix:after, .howitworks .index:after, .howitworks .timeline:after {
  clear: both;
}

/* line 66, ../../ui/sass/screen.sass */
.border-box, .container [class^="column"], .inputwrap *, .whatwedo p, .howitworks .column50, .howitworks .index .term, .howitworks .index .count, .conclusion .left, .conclusion .right, footer .column, .ui-input, .sky-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 69, ../../ui/sass/screen.sass */
.in-bl, .howitworks .timeline .ticks .tick {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 73, ../../ui/sass/screen.sass */
body * {
  font-family: "PT Sans", sans-serif;
}

/* line 76, ../../ui/sass/screen.sass */
html, body {
  width: 100%;
  height: 100%;
}

/* line 80, ../../ui/sass/screen.sass */
body {
  position: relative;
  overflow: auto;
  font-size: 0.8em;
}

/* line 85, ../../ui/sass/screen.sass */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
}
/* line 89, ../../ui/sass/screen.sass */
.container [class^="column"] {
  float: left;
}
/* line 92, ../../ui/sass/screen.sass */
.container .column30 {
  width: 30%;
}
/* line 94, ../../ui/sass/screen.sass */
.container .column33 {
  width: 33%;
}
/* line 96, ../../ui/sass/screen.sass */
.container .column50 {
  width: 50%;
}
/* line 98, ../../ui/sass/screen.sass */
.container .column70 {
  width: 70%;
}

/* line 102, ../../ui/sass/screen.sass */
.dot-divide {
  background: url(/img/dots.png) top center no-repeat;
  height: 3px;
  width: 100%;
  margin: 2em 0 !important;
  clear: both;
}
/* line 109, ../../ui/sass/screen.sass */
.dot-divide.white {
  background-image: url(/img/dots-w.png);
}

/* line 112, ../../ui/sass/screen.sass */
.inputwrap {
  position: relative;
  margin-bottom: 1em;
  padding: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 3px 0 inset;
  text-align: right;
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
/* line 120, ../../ui/sass/screen.sass */
.inputwrap.wrong {
  background-color: rgba(220, 20, 60, 0.2);
}
/* line 123, ../../ui/sass/screen.sass */
.inputwrap.right {
  background-color: rgba(203, 228, 171, 0.3);
}
/* line 126, ../../ui/sass/screen.sass */
.inputwrap * {
  font-size: 1.5em;
}
/* line 130, ../../ui/sass/screen.sass */
.inputwrap .tip {
  margin-right: 10px;
  display: none;
  color: white;
  position: absolute;
  right: 100%;
  width: 60%;
  text-align: center;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  font-size: 1em;
}
/* line 143, ../../ui/sass/screen.sass */
.inputwrap .tip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 0;
  height: 0;
  margin-top: -8px;
  border: 8px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.6);
}
/* line 154, ../../ui/sass/screen.sass */
.inputwrap input {
  width: 100%;
  border: 1px solid #d4d4d4;
  padding: 3px 5px;
}
/* line 159, ../../ui/sass/screen.sass */
.inputwrap input.contact {
  width: 85%;
}
/* line 162, ../../ui/sass/screen.sass */
.inputwrap .submit {
  border-top: 1px solid white;
  border-left: 1px solid #fafafa;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px solid #fafafa;
  color: transparent;
  width: 15%;
  height: 100%;
  padding: 3px;
  -webkit-box-shadow: #aeaeae 0 0.2em 0 0;
  -moz-box-shadow: #aeaeae 0 0.2em 0 0;
  box-shadow: #aeaeae 0 0.2em 0 0;
  position: relative;
  top: -0.2em;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-image: url(/img/enter-mid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
  background-image: url(/img/enter-mid.png), -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/enter-mid.png), -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/enter-mid.png), -o-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/enter-mid.png), linear-gradient(#fafafa, #eeeeee);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
/* line 178, ../../ui/sass/screen.sass */
.inputwrap .submit.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: relative;
  top: 0;
}
/* line 181, ../../ui/sass/screen.sass */
.inputwrap .submit.waiting, .inputwrap .submit.waiting:hover {
  opacity: 0.7;
  background-image: url(/img/load.gif), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
  background-image: url(/img/load.gif), -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/load.gif), -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/load.gif), -o-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/load.gif), linear-gradient(#fafafa, #eeeeee);
}
/* line 185, ../../ui/sass/screen.sass */
.inputwrap .submit.ok, .inputwrap .submit.ok:hover {
  background-image: url(/img/ok.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
  background-image: url(/img/ok.png), -webkit-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/ok.png), -moz-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/ok.png), -o-linear-gradient(#fafafa, #eeeeee);
  background-image: url(/img/ok.png), linear-gradient(#fafafa, #eeeeee);
}
/* line 188, ../../ui/sass/screen.sass */
.inputwrap .submit:hover {
  background-image: url(/img/enter-mid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f0f0f0));
  background-image: url(/img/enter-mid.png), -webkit-linear-gradient(#fdfdfd, #f0f0f0);
  background-image: url(/img/enter-mid.png), -moz-linear-gradient(#fdfdfd, #f0f0f0);
  background-image: url(/img/enter-mid.png), -o-linear-gradient(#fdfdfd, #f0f0f0);
  background-image: url(/img/enter-mid.png), linear-gradient(#fdfdfd, #f0f0f0);
}

/* line 191, ../../ui/sass/screen.sass */
.top-menu {
  display: none;
  position: fixed;
  width: 100%;
  padding-left: 3em;
  z-index: 30;
  top: 0;
  left: 0;
  color: white;
  background-repeat: repeat-y;
  background-image: url(/img/minlogo-mid.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: url(/img/minlogo-mid.png), -webkit-linear-gradient(#262626, #000000);
  background-image: url(/img/minlogo-mid.png), -moz-linear-gradient(#262626, #000000);
  background-image: url(/img/minlogo-mid.png), -o-linear-gradient(#262626, #000000);
  background-image: url(/img/minlogo-mid.png), linear-gradient(#262626, #000000);
}
/* line 203, ../../ui/sass/screen.sass */
.top-menu ul, .top-menu li {
  float: left;
}
/* line 206, ../../ui/sass/screen.sass */
.top-menu a {
  padding: 1em;
  text-transform: lowercase;
  font-weight: bold;
}
/* line 212, ../../ui/sass/screen.sass */
.top-menu .loginform {
  position: relative;
  float: right;
  border-left: 1px solid #404040;
  width: 10em;
  height: 3.3em;
  padding-left: 1em;
  overflow: hidden;
  -webkit-transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: width 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
/* line 222, ../../ui/sass/screen.sass */
.top-menu .loginform * {
  -webkit-transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: top 0.7s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
/* line 225, ../../ui/sass/screen.sass */
.top-menu .loginform.opened {
  width: 27em;
}
/* line 228, ../../ui/sass/screen.sass */
.top-menu .loginform.opened form .back::after {
  content: "▴";
}
/* line 231, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger {
  position: absolute;
}
/* line 43, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger::after {
  position: absolute;
  top: 1.4em;
  right: -0.4em;
  content: "▾";
  font-size: 0.8em;
}
/* line 49, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger.opened::after {
  content: "▴";
}
/* line 234, ../../ui/sass/screen.sass */
.top-menu .loginform .trigger.opened {
  top: 100%;
}
/* line 237, ../../ui/sass/screen.sass */
.top-menu .loginform .hello {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 1em;
}
/* line 240, ../../ui/sass/screen.sass */
.top-menu .loginform .control {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 243, ../../ui/sass/screen.sass */
.top-menu .loginform .control.logout {
  background: url("/img/quit-mid.png") center center no-repeat;
  width: 16px;
  height: 17px;
}
@media only screen and (min-width: 1400px) {
  /* line 243, ../../ui/sass/screen.sass */
  .top-menu .loginform .control.logout {
    background: url("/img/quit.png") center center no-repeat;
    width: 19px;
    height: 21px;
  }
}
/* line 245, ../../ui/sass/screen.sass */
.top-menu .loginform .control.settings {
  margin-left: 5em;
  background: url("/img/settings-mid.png") center center no-repeat;
  width: 16px;
  height: 16px;
}
@media only screen and (min-width: 1400px) {
  /* line 245, ../../ui/sass/screen.sass */
  .top-menu .loginform .control.settings {
    background: url("/img/settings.png") center center no-repeat;
    width: 19px;
    height: 19px;
  }
}
/* line 249, ../../ui/sass/screen.sass */
.top-menu .loginform form {
  position: absolute;
  top: -80%;
  right: 0;
  width: 29em;
}
/* line 255, ../../ui/sass/screen.sass */
.top-menu .loginform form .back {
  position: relative;
  margin: 0.5em 2em;
  border-bottom: 1px dotted white;
  cursor: pointer;
}
/* line 260, ../../ui/sass/screen.sass */
.top-menu .loginform form .back::after {
  font-size: 0.8em;
  position: absolute;
  top: 0.3em;
  right: -1em;
  content: "▾";
}
/* line 267, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap {
  background: white;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.7) 0 0 4px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.7) 0 0 4px 0;
  box-shadow: inset rgba(0, 0, 0, 0.7) 0 0 4px 0;
  overflow: hidden;
}
/* line 273, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap.login {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 275, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap.pw {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 278, ../../ui/sass/screen.sass */
.top-menu .loginform form .lgwrap input {
  border: none;
  margin: 0.3em;
  width: 7em;
}
/* line 283, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit {
  position: relative;
  color: transparent;
  border: none;
  padding: 0.3em 0.5em;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #d4d4d4;
}
/* line 290, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit.hl, .top-menu .loginform form .submit.ok {
  background-color: #eeeeee;
}
/* line 292, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit::before {
  color: black;
  position: absolute;
  content: "↩";
  top: 0.3em;
  right: 0.5em;
}
/* line 298, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit.wait::before {
  content: "⟲";
}
/* line 302, ../../ui/sass/screen.sass */
.top-menu .loginform form .submit.ok::before {
  content: "✔";
}
/* line 305, ../../ui/sass/screen.sass */
.top-menu .loginform form.opened {
  top: 20%;
  display: block;
}

/* line 309, ../../ui/sass/screen.sass */
.logo {
  background: url(/img/energotrend-mid.png) top center no-repeat;
  width: 34.5em;
  padding: 15em 0 4em 0;
}
/* line 314, ../../ui/sass/screen.sass */
.logo .slogan {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

/* line 319, ../../ui/sass/screen.sass */
header {
  position: relative;
  overflow: hidden;
}
/* line 323, ../../ui/sass/screen.sass */
header .blur {
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 3s ease;
  -moz-transition: opacity 3s ease;
  -o-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
/* line 334, ../../ui/sass/screen.sass */
header .blur.active {
  opacity: 1;
}
/* line 337, ../../ui/sass/screen.sass */
header .blur.b1 {
  background-image: url(/img/blur1-mid.png);
}
/* line 337, ../../ui/sass/screen.sass */
header .blur.b2 {
  background-image: url(/img/blur2-mid.png);
}
/* line 337, ../../ui/sass/screen.sass */
header .blur.b3 {
  background-image: url(/img/blur3-mid.png);
}
/* line 337, ../../ui/sass/screen.sass */
header .blur.b4 {
  background-image: url(/img/blur4-mid.png);
}
/* line 340, ../../ui/sass/screen.sass */
header .logo {
  float: left;
}
/* line 343, ../../ui/sass/screen.sass */
header .appform {
  width: 25em;
  padding: 2.5em;
  position: absolute;
  margin-top: 4em;
  top: 0;
  right: 0;
}
/* line 351, ../../ui/sass/screen.sass */
header .appform h1 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
}
/* line 356, ../../ui/sass/screen.sass */
header .thankyou {
  display: none;
  position: absolute;
  top: -100%;
  right: 0;
  width: 25em;
  padding: 2.5em;
  margin-top: 4em;
  text-align: center;
}
/* line 366, ../../ui/sass/screen.sass */
header .thankyou h1 {
  margin: 0;
}
/* line 369, ../../ui/sass/screen.sass */
header .thankyou p {
  font-size: 1.2em;
}

/* line 373, ../../ui/sass/screen.sass */
.sectionhead {
  position: relative;
  font-weight: normal;
  font-size: 3.77em;
  text-align: center;
  padding-top: 0.3em;
}
/* line 379, ../../ui/sass/screen.sass */
.sectionhead span {
  border-bottom: 1px solid black;
}

/* line 384, ../../ui/sass/screen.sass */
.grid, .whatwedo {
  background: white url(/img/grid.png);
}

/* line 387, ../../ui/sass/screen.sass */
.whatwedo {
  padding-bottom: 1em;
}
/* line 391, ../../ui/sass/screen.sass */
.whatwedo .pad {
  position: absolute;
  height: 3.5em;
  width: 100%;
  background: white;
  -webkit-box-shadow: white 0 10px 10px 0;
  -moz-box-shadow: white 0 10px 10px 0;
  box-shadow: white 0 10px 10px 0;
}
/* line 398, ../../ui/sass/screen.sass */
.whatwedo .chart {
  background: url("/img/chart-mid.png") center center no-repeat;
  width: 220px;
  height: 197px;
  float: left;
}
@media only screen and (min-width: 1400px) {
  /* line 398, ../../ui/sass/screen.sass */
  .whatwedo .chart {
    background: url("/img/chart.png") center center no-repeat;
    width: 240px;
    height: 215px;
  }
}
/* line 401, ../../ui/sass/screen.sass */
.whatwedo .free-lamp {
  float: left;
  background: url("/img/free-lamp-mid.png") center center no-repeat;
  width: 350px;
  height: 159px;
}
@media only screen and (min-width: 1400px) {
  /* line 401, ../../ui/sass/screen.sass */
  .whatwedo .free-lamp {
    background: url("/img/free-lamp.png") center center no-repeat;
    width: 400px;
    height: 182px;
  }
}
/* line 406, ../../ui/sass/screen.sass */
.whatwedo section {
  position: relative;
  width: 80%;
  margin: 0 auto 2em auto;
}
/* line 411, ../../ui/sass/screen.sass */
.whatwedo p {
  font-size: 1.6em;
}
/* line 416, ../../ui/sass/screen.sass */
.whatwedo p.first {
  float: left;
  margin-top: 3em;
  width: 70%;
}
/* line 420, ../../ui/sass/screen.sass */
.whatwedo p.second {
  width: 49%;
  float: right;
  margin-top: 3em;
}

/* line 425, ../../ui/sass/screen.sass */
.howitworks {
  font-size: 1.2em;
  position: relative;
  padding-top: 1px;
  background-color: #cfecfa;
  background-image: url(/img/grid2.png), url(/img/scheme.png);
  overflow: hidden;
  height: 40em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
}
/* line 435, ../../ui/sass/screen.sass */
.howitworks .slides {
  max-width: 900px !important;
}
/* line 437, ../../ui/sass/screen.sass */
.wideslide .howitworks .slides {
  max-width: 960px !important;
}
/* line 440, ../../ui/sass/screen.sass */
.howitworks .sectionhead.compact {
  margin-bottom: 1em;
}
/* line 443, ../../ui/sass/screen.sass */
.howitworks .column50 {
  font-size: 1.3em;
  vertical-align: middle;
  margin-bottom: 1em;
  padding: 0 1em 0 1em;
  float: left;
  width: 50%;
  text-align: left;
}
/* line 453, ../../ui/sass/screen.sass */
.howitworks .well {
  position: relative;
  background: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin: 0 1em;
  padding: 1em;
  -webkit-box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.2);
}
/* line 460, ../../ui/sass/screen.sass */
.howitworks .well .rarr {
  background: url("/img/rarr.png") center center no-repeat;
  width: 30px;
  height: 39px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: -2.8em;
}
/* line 467, ../../ui/sass/screen.sass */
.howitworks .index {
  height: 3em;
  position: relative;
  margin: 0;
  padding: 1em 0;
  border-bottom: 1px solid #999999;
}
/* line 474, ../../ui/sass/screen.sass */
.howitworks .index .side-img {
  float: left;
  width: 10%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 480, ../../ui/sass/screen.sass */
.howitworks .index .side-img.lamp {
  background-image: url("/img/lamp.png");
}
/* line 482, ../../ui/sass/screen.sass */
.howitworks .index .side-img.fire {
  background-image: url("/img/fire.png");
}
/* line 484, ../../ui/sass/screen.sass */
.howitworks .index .term {
  height: 100%;
  float: left;
  width: 60%;
  padding: 0.3em 0 0 1em;
}
/* line 490, ../../ui/sass/screen.sass */
.howitworks .index .term span {
  vertical-align: middle;
}
/* line 492, ../../ui/sass/screen.sass */
.howitworks .index .count {
  height: 100%;
  font-size: 2em;
  float: left;
  width: 30%;
}
/* line 498, ../../ui/sass/screen.sass */
.howitworks .index .count .note {
  font-size: 0.3em;
  text-transform: lowercase;
  margin: 0 0 0.5em;
}
/* line 503, ../../ui/sass/screen.sass */
.howitworks .explain {
  padding: 2em;
}
/* line 505, ../../ui/sass/screen.sass */
.howitworks .explain strong {
  margin-bottom: 1em;
}
/* line 507, ../../ui/sass/screen.sass */
.howitworks .explain ul {
  margin-left: 1.5em;
}
/* line 510, ../../ui/sass/screen.sass */
.howitworks .scheme {
  padding: 0 2em 2em;
  position: relative;
}
/* line 513, ../../ui/sass/screen.sass */
.howitworks .scheme table {
  width: 100%;
}
/* line 515, ../../ui/sass/screen.sass */
.howitworks .scheme table td {
  vertical-align: middle;
  width: 50%;
  padding: 1em 0;
  text-align: center;
  font-size: 1.5em;
}
/* line 521, ../../ui/sass/screen.sass */
.howitworks .scheme table td.top {
  padding: 0 0 3em;
}
/* line 523, ../../ui/sass/screen.sass */
.howitworks .scheme table td .icon {
  margin: 0 0.7em;
}
/* line 525, ../../ui/sass/screen.sass */
.howitworks .scheme .fly {
  position: absolute;
}
/* line 527, ../../ui/sass/screen.sass */
.howitworks .scheme .tip {
  z-index: 2;
  max-width: 17em;
  color: white;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0.5em;
}
/* line 535, ../../ui/sass/screen.sass */
.howitworks .scheme .tip::before {
  line-height: 0.7;
  text-shadow: 0 1px 1px gray;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.6em;
  width: 0.8em;
  height: 0.8em;
  padding: 0.2em;
  position: absolute;
  top: 50%;
  margin-top: -0.6em;
  left: -1.5em;
}
/* line 548, ../../ui/sass/screen.sass */
.howitworks .scheme .tip.n1::before {
  background-color: #98d5f4;
  content: "1";
}
/* line 551, ../../ui/sass/screen.sass */
.howitworks .scheme .tip.n2::before {
  background-color: #eca7a2;
  content: "2";
}
/* line 554, ../../ui/sass/screen.sass */
.howitworks .scheme .tip.n3::before {
  background-color: #cbe4ab;
  content: "3";
}
/* line 557, ../../ui/sass/screen.sass */
.howitworks .scheme .tip.n4::before {
  background-color: #f3e898;
  content: "4";
}
/* line 561, ../../ui/sass/screen.sass */
.howitworks .timeline {
  position: relative;
  color: #6e6e6e;
  border-bottom: 5px solid rgba(0, 0, 0, 0.4);
}
/* line 566, ../../ui/sass/screen.sass */
.howitworks .timeline .corner {
  position: absolute;
  top: -2em;
  left: 0;
}
/* line 570, ../../ui/sass/screen.sass */
.howitworks .timeline .corner .mark {
  background: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px 10px;
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px 10px;
  color: black;
  position: relative;
  left: -50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
/* line 577, ../../ui/sass/screen.sass */
.howitworks .timeline .corner .mark::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  margin: 1px 0 0 -10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.4);
}
/* line 587, ../../ui/sass/screen.sass */
.howitworks .timeline .ticks {
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 14px;
}
/* line 592, ../../ui/sass/screen.sass */
.howitworks .timeline .ticks .tick {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  width: 2px;
  height: 100%;
  margin-right: 11%;
}
/* line 599, ../../ui/sass/screen.sass */
.howitworks .timeline .ticks .tick span {
  position: absolute;
  top: 20px;
  left: -23px;
  width: 50px;
}
/* line 605, ../../ui/sass/screen.sass */
.howitworks .timeline .period {
  padding: 0.5em 0 1em;
}
/* line 607, ../../ui/sass/screen.sass */
.howitworks .diagram {
  position: relative;
  width: 100%;
  height: 18em;
}
/* line 611, ../../ui/sass/screen.sass */
.howitworks .diagram td {
  position: relative;
  vertical-align: middle;
}
/* line 614, ../../ui/sass/screen.sass */
.howitworks .diagram td.bar {
  text-align: center;
  width: 40%;
}
/* line 617, ../../ui/sass/screen.sass */
.howitworks .diagram td.bar div {
  -webkit-transition: height 1s ease, 1s;
  -moz-transition: height 1s ease, 1s;
  -o-transition: height 1s ease, 1s;
  transition: height 1s ease, 1s;
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 70%;
  height: 0;
  margin-left: 15%;
  -webkit-box-shadow: 1px 1px 1px 1px, 2px 2px 1px 1px, 3px 3px 1px 1px, 4px 4px 1px 1px, 5px 5px 1px 1px;
  -moz-box-shadow: 1px 1px 1px 1px, 2px 2px 1px 1px, 3px 3px 1px 1px, 4px 4px 1px 1px, 5px 5px 1px 1px;
  box-shadow: 1px 1px 1px 1px, 2px 2px 1px 1px, 3px 3px 1px 1px, 4px 4px 1px 1px, 5px 5px 1px 1px;
}
/* line 626, ../../ui/sass/screen.sass */
.howitworks .diagram td.bar div.red {
  background: #eca7a2;
  color: #b07c78;
}
/* line 629, ../../ui/sass/screen.sass */
.howitworks .diagram td.bar div.yellow {
  background: #f3e898;
  color: #d9c219;
}
/* line 632, ../../ui/sass/screen.sass */
.howitworks .diagram td.bar div.green {
  background: #cbe4ab;
  color: #83ba3c;
}
/* line 635, ../../ui/sass/screen.sass */
.howitworks .diagram td.bar p {
  padding: 0 20% 0 20%;
  margin: 0;
  font-size: 0.8em;
}
/* line 639, ../../ui/sass/screen.sass */
.howitworks .diagram td.amount {
  text-decoration: underline;
}
/* line 641, ../../ui/sass/screen.sass */
.howitworks .diagram.visible td.bar div {
  height: 100%;
}
/* line 644, ../../ui/sass/screen.sass */
.howitworks .period {
  position: relative;
  padding: 3em 0 0 0;
  margin-bottom: -4px;
  border-left: 1px dashed #6e6e6e;
}
/* line 649, ../../ui/sass/screen.sass */
.howitworks .period:first-child {
  border-left: none;
}
/* line 651, ../../ui/sass/screen.sass */
.howitworks big {
  font-size: 1.7em;
}
/* line 654, ../../ui/sass/screen.sass */
.howitworks .container {
  height: 100%;
}
/* line 657, ../../ui/sass/screen.sass */
.howitworks .reveal {
  position: relative;
}
/* line 660, ../../ui/sass/screen.sass */
.howitworks .reveal * {
  line-height: 1.2;
}
/* line 662, ../../ui/sass/screen.sass */
.howitworks .reveal .controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 669, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div {
  z-index: 20;
  border: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 679, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.enabled {
  display: block;
}
/* line 682, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 685, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-right {
  background-image: url(/img/rarr.png);
  right: 3em !important;
  top: 50%;
  margin-top: -35px;
}
/* line 690, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-left {
  background-image: url(/img/larr.png);
  left: 3em;
  top: 50%;
  margin-top: -35px;
}
/* line 695, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-up {
  background-image: url(/img/uarr.png);
  top: 3em;
  left: 50%;
  margin-left: -35px;
}
/* line 700, ../../ui/sass/screen.sass */
.howitworks .reveal .controls div.navigate-down {
  background-image: url(/img/darr.png);
  bottom: 3em;
  left: 50%;
  margin-left: -35px;
}
/* line 706, ../../ui/sass/screen.sass */
.howitworks .reveal section {
  padding: 2em 0;
}
/* line 709, ../../ui/sass/screen.sass */
.howitworks .reveal h1 {
  margin-bottom: 2em;
}
/* line 712, ../../ui/sass/screen.sass */
.howitworks .reveal p {
  font-size: 1.4em;
}
/* line 714, ../../ui/sass/screen.sass */
.howitworks .reveal p.big {
  font-size: 2em;
}
/* line 717, ../../ui/sass/screen.sass */
.howitworks .reveal p.notice {
  font-size: 1em;
  font-style: italic;
  margin-top: 2em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 723, ../../ui/sass/screen.sass */
.howitworks .reveal p.notice:hover {
  color: black;
  text-decoration: underline;
}

/* line 727, ../../ui/sass/screen.sass */
.whywe {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fad6b3), color-stop(50%, #fdf0e2), color-stop(100%, #fad6b3));
  background-image: -webkit-linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  background-image: -moz-linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  background-image: -o-linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  background-image: linear-gradient(left, #fad6b3, #fdf0e2, #fad6b3);
  padding-top: 1px;
  padding-bottom: 2em;
}
/* line 733, ../../ui/sass/screen.sass */
.whywe p.big {
  text-align: center;
  font-size: 1.6em;
}

/* line 737, ../../ui/sass/screen.sass */
.feedback {
  padding: 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 3px;
}
/* line 741, ../../ui/sass/screen.sass */
.feedback .sectionhead {
  margin-bottom: -0.3em;
}
/* line 745, ../../ui/sass/screen.sass */
.feedback p.big {
  text-align: center;
  font-size: 1.4em;
}

/* line 749, ../../ui/sass/screen.sass */
.conclusion {
  padding: 7em 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 -3px 3px;
  background: #f82b54 url(/img/scyscrapers-mid.png) center center no-repeat;
}
/* line 755, ../../ui/sass/screen.sass */
.conclusion .left, .conclusion .right {
  width: 50%;
}
/* line 761, ../../ui/sass/screen.sass */
.conclusion .left {
  float: left;
  padding-top: 1em;
  margin-top: -1em;
  border-right: 1px solid #eeeeee;
  text-align: center;
}
/* line 769, ../../ui/sass/screen.sass */
.conclusion .left .inner-first {
  height: 10em;
  width: 35em;
}
/* line 772, ../../ui/sass/screen.sass */
.conclusion .left .inner-second {
  height: 10em;
  width: 70em;
  display: none;
}
/* line 777, ../../ui/sass/screen.sass */
.conclusion .left h1 {
  font-size: 1.8em;
  color: white;
  margin-top: 0;
}
/* line 782, ../../ui/sass/screen.sass */
.conclusion .right {
  padding-right: 8.5em;
  position: absolute;
  right: 0;
}
/* line 787, ../../ui/sass/screen.sass */
.conclusion .appform-bot {
  float: right;
  margin-top: 1em;
  width: 25em;
}
/* line 792, ../../ui/sass/screen.sass */
.conclusion .appform-bot .inputwrap {
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 4px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 4px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 4px 0 inset;
  border: 1px solid #ad102f;
}
/* line 797, ../../ui/sass/screen.sass */
.conclusion .appform-bot .inputwrap.wrong {
  background-color: rgba(220, 20, 60, 0.1);
}

/* line 803, ../../ui/sass/screen.sass */
footer {
  color: white;
  background: #3b3b3b;
}
/* line 807, ../../ui/sass/screen.sass */
footer .container {
  background: url(/img/vertstripe.png) 0px -96px repeat-y;
  padding-left: 2.5em;
}
/* line 814, ../../ui/sass/screen.sass */
footer ul {
  list-style-type: none;
}
/* line 816, ../../ui/sass/screen.sass */
footer ul li {
  padding-bottom: 5px;
}
/* line 819, ../../ui/sass/screen.sass */
footer .column {
  float: left;
  width: 20%;
  padding: 1em;
}

/* line 825, ../../ui/sass/screen.sass */
.panel-overlay {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 834, ../../ui/sass/screen.sass */
.panel-overlay.active {
  z-index: 20;
  opacity: 1;
}

/* line 838, ../../ui/sass/screen.sass */
.panel {
  position: absolute;
  top: 10em;
  left: 50%;
  font-size: 1.2em;
  margin-left: -30em;
  width: 60em;
  background: #efefef;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px 0;
}
/* line 847, ../../ui/sass/screen.sass */
.panel .close {
  cursor: pointer;
  float: right;
  padding: 0.7em;
}
/* line 851, ../../ui/sass/screen.sass */
.panel .menu {
  color: white;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#262626, #000000);
  background-image: -moz-linear-gradient(#262626, #000000);
  background-image: -o-linear-gradient(#262626, #000000);
  background-image: linear-gradient(#262626, #000000);
}
/* line 854, ../../ui/sass/screen.sass */
.panel .menu ul {
  margin: 0;
  float: left;
}
/* line 857, ../../ui/sass/screen.sass */
.panel .menu ul li {
  list-style: none;
  float: left;
  padding: 0.5em 0.4em 0;
}
/* line 861, ../../ui/sass/screen.sass */
.panel .menu ul li .tab {
  padding: 0.7em;
  display: block;
}
/* line 865, ../../ui/sass/screen.sass */
.panel .menu ul li .tab.active {
  -webkit-box-shadow: #d4d4d4 1px -1px 0 0, #d4d4d4 2px -2px 0 0, #d4d4d4 3px -3px 0 0;
  -moz-box-shadow: #d4d4d4 1px -1px 0 0, #d4d4d4 2px -2px 0 0, #d4d4d4 3px -3px 0 0;
  box-shadow: #d4d4d4 1px -1px 0 0, #d4d4d4 2px -2px 0 0, #d4d4d4 3px -3px 0 0;
  background: #efefef;
  color: black;
}
/* line 870, ../../ui/sass/screen.sass */
.panel .content {
  padding: 2em;
  -webkit-box-shadow: #d4d4d4 0 -4px 0 0;
  -moz-box-shadow: #d4d4d4 0 -4px 0 0;
  box-shadow: #d4d4d4 0 -4px 0 0;
}
/* line 873, ../../ui/sass/screen.sass */
.panel .content section {
  display: none;
}
/* line 875, ../../ui/sass/screen.sass */
.panel .content section.active {
  display: block;
}
/* line 878, ../../ui/sass/screen.sass */
.panel .panelform {
  width: 50%;
  float: left;
}

/* line 882, ../../ui/sass/screen.sass */
.ui-input {
  display: block;
  width: auto;
  border: none;
  font-size: 1.2em;
  padding: 0.3em;
  margin: 0.8em 0.3em;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 2px 2px;
  outline: 1px solid #d4d4d4;
  outline-offset: 0.1em;
}

/* line 895, ../../ui/sass/screen.sass */
.maintenance, .sky-wrapper {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 1px;
  width: 100%;
  min-height: 100%;
}
/* line 900, ../../ui/sass/screen.sass */
.maintenance .logo, .sky-wrapper .logo {
  margin: 0 auto;
}
/* line 902, ../../ui/sass/screen.sass */
.maintenance .sectionhead, .sky-wrapper .sectionhead {
  margin-top: 0;
}
/* line 904, ../../ui/sass/screen.sass */
.maintenance .container, .sky-wrapper .container {
  margin-bottom: 4em;
  overflow: hidden;
  padding: 0 2.5em 1em;
  border-bottom: 7px solid #d4d4d4;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}
/* line 910, ../../ui/sass/screen.sass */
.maintenance .container a, .sky-wrapper .container a {
  color: #98d5f4;
}

/* line 913, ../../ui/sass/screen.sass */
.maintenance {
  background-image: url(/img/dev_back.jpg);
}
/* line 915, ../../ui/sass/screen.sass */
.maintenance .adminlogin {
  background: url(/img/user-mid.png) top left no-repeat;
  padding: 0 0 0.5em 35px;
}
/* line 918, ../../ui/sass/screen.sass */
.maintenance p {
  padding-top: 0.5em;
  font-size: 1.5em;
}
/* line 921, ../../ui/sass/screen.sass */
.maintenance .appwrap {
  height: 13em;
  border-left: 1px solid #d4d4d4;
  text-align: center;
  padding: 0 6em 0;
}
/* line 926, ../../ui/sass/screen.sass */
.maintenance .appwrap .appform, .maintenance .appwrap .thankyou {
  padding-bottom: 2em;
  position: relative;
}
/* line 929, ../../ui/sass/screen.sass */
.maintenance .appwrap .thankyou {
  display: none;
}

/* line 932, ../../ui/sass/screen.sass */
.sky-wrapper {
  background-image: url(/img/sky_back.jpg);
  background-attachment: fixed;
  padding-top: 3em;
}
/* line 937, ../../ui/sass/screen.sass */
.sky-wrapper .top-menu {
  display: block;
}
/* line 939, ../../ui/sass/screen.sass */
.sky-wrapper .contact {
  padding: 0.5em 0 0.5em 2em;
  margin-bottom: 1.5em;
  font-size: 1.5em;
  background-position: left center;
  background-repeat: no-repeat;
}
/* line 945, ../../ui/sass/screen.sass */
.sky-wrapper .contact.addr {
  background-image: url(/img/home.png);
}
/* line 947, ../../ui/sass/screen.sass */
.sky-wrapper .contact.email {
  background-image: url(/img/mail.png);
}
/* line 949, ../../ui/sass/screen.sass */
.sky-wrapper .contact.phone {
  background-image: url(/img/phone.png);
}

/* line 952, ../../ui/sass/screen.sass */
.yandex-map {
  border: 4px solid #3b3b3b;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1400px) {
  /* line 957, ../../ui/sass/screen.sass */
  body {
    font-size: 1em;
  }

  /* line 960, ../../ui/sass/screen.sass */
  .logo {
    background-image: url(/img/energotrend.png);
  }

  /* line 966, ../../ui/sass/screen.sass */
  header .blur.b1 {
    background-image: url(/img/blur1.png);
  }
  /* line 966, ../../ui/sass/screen.sass */
  header .blur.b2 {
    background-image: url(/img/blur2.png);
  }
  /* line 966, ../../ui/sass/screen.sass */
  header .blur.b3 {
    background-image: url(/img/blur3.png);
  }
  /* line 966, ../../ui/sass/screen.sass */
  header .blur.b4 {
    background-image: url(/img/blur4.png);
  }

  /* line 969, ../../ui/sass/screen.sass */
  .top-menu {
    background-image: url(/img/minlogo.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #262626), color-stop(100%, #000000));
    background-image: url(/img/minlogo.png), -webkit-linear-gradient(#262626, #000000);
    background-image: url(/img/minlogo.png), -moz-linear-gradient(#262626, #000000);
    background-image: url(/img/minlogo.png), -o-linear-gradient(#262626, #000000);
    background-image: url(/img/minlogo.png), linear-gradient(#262626, #000000);
  }

  /* line 972, ../../ui/sass/screen.sass */
  .inputwrap {
    padding: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0 inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 4px 0 inset;
  }
  /* line 977, ../../ui/sass/screen.sass */
  .inputwrap .submit {
    background-image: url(/img/enter.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #eeeeee));
    background-image: url(/img/enter.png), -webkit-linear-gradient(#fafafa, #eeeeee);
    background-image: url(/img/enter.png), -moz-linear-gradient(#fafafa, #eeeeee);
    background-image: url(/img/enter.png), -o-linear-gradient(#fafafa, #eeeeee);
    background-image: url(/img/enter.png), linear-gradient(#fafafa, #eeeeee);
  }
  /* line 979, ../../ui/sass/screen.sass */
  .inputwrap .submit:hover {
    background-image: url(/img/enter.png), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f0f0f0));
    background-image: url(/img/enter.png), -webkit-linear-gradient(#fdfdfd, #f0f0f0);
    background-image: url(/img/enter.png), -moz-linear-gradient(#fdfdfd, #f0f0f0);
    background-image: url(/img/enter.png), -o-linear-gradient(#fdfdfd, #f0f0f0);
    background-image: url(/img/enter.png), linear-gradient(#fdfdfd, #f0f0f0);
  }

  /* line 982, ../../ui/sass/screen.sass */
  .howitworks {
    font-size: 1.1em;
  }
  /* line 984, ../../ui/sass/screen.sass */
  .howitworks .slides {
    max-width: 1000px !important;
  }
  /* line 986, ../../ui/sass/screen.sass */
  .wideslide .howitworks .slides {
    max-width: 1200px !important;
  }

  /* line 988, ../../ui/sass/screen.sass */
  .conclusion {
    background-image: url(/img/scyscrapers.png);
  }

  /* line 991, ../../ui/sass/screen.sass */
  .container {
    width: 1200px;
  }

  /* line 993, ../../ui/sass/screen.sass */
  .maintenance .adminlogin {
    background: url(/img/user.png) top left no-repeat;
  }
}
